In [1]:
import numpy as np 
import pandas as pd

In [10]:
data=pd.read_csv("C:\\Users\\User\\Downloads\\Churn_Modelling.csv")

In [11]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow .keras import layers,optimizers

In [17]:
X=data.drop(columns=['Surname','Exited'],axis=1)
y=data['Exited']

In [18]:
lb=LabelEncoder()
X['Geography']=lb.fit_transform(X['Geography'])
X['Gender']=lb.fit_transform(X['Gender'])

In [21]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
model=tf.keras.models.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [25]:
optimizer=optimizers.Adamax(learning_rate=0.001)
model.compile(optimizer=optimizer,
              loss='binary_crossentropy',
             metrics=['accuracy'])

In [26]:
model.fit(X_train,y_train,epochs=10 , batch_size=32, verbose=1)

Epoch 1/10
250/250 [==============================] - 8s 16ms/step - loss: 57662.0703 - accuracy: 0.6835
Epoch 2/10
250/250 [==============================] - 4s 16ms/step - loss: 5735.2642 - accuracy: 0.6787
Epoch 3/10
250/250 [==============================] - 4s 15ms/step - loss: 8828.1152 - accuracy: 0.6860
Epoch 4/10
250/250 [==============================] - 4s 15ms/step - loss: 8672.6367 - accuracy: 0.6708
Epoch 5/10
250/250 [==============================] - 4s 16ms/step - loss: 12056.8799 - accuracy: 0.6719
Epoch 6/10
250/250 [==============================] - 4s 16ms/step - loss: 6318.6997 - accuracy: 0.6834
Epoch 7/10
250/250 [==============================] - 4s 15ms/step - loss: 8377.6729 - accuracy: 0.6824
Epoch 8/10
250/250 [==============================] - 4s 16ms/step - loss: 6056.6416 - accuracy: 0.6783
Epoch 9/10
250/250 [==============================] - 5s 19ms/step - loss: 8789.4463 - accuracy: 0.6761
Epoch 10/10
250/250 [==============================] - 4s 18ms/step - loss: 7406.7588 - accuracy: 0.6779

In [28]:
loss,accuracy=model.evaluate(X_test,y_test)
print(f"Test Loss:{loss:4f}")
print(f"Test Accuracy:{accuracy:4f}")

63/63 [==============================] - 2s 12ms/step - loss: 18168.6270 - accuracy: 0.1965
Test Loss:18168.626953
Test Accuracy:0.196500

In [29]:
import numpy as np 
import pandas as pd

In [30]:
data=pd.read_csv("C:\\Users\\User\\Downloads\\Churn_Modelling.csv")

In [31]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow .keras import layers,optimizers

In [33]:
X=data.drop(columns=['Surname','Exited'],axis=1)
y=data['Exited']

In [34]:
lb=LabelEncoder()
X['Geography']=lb.fit_transform(X['Geography'])
X['Gender']=lb.fit_transform(X['Gender'])

In [35]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [37]:
model=tf.keras.models.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [38]:
optimizer=optimizers.Nadam(learning_rate=0.001)
model.compile(optimizer=optimizer,
              loss='binary_crossentropy',
             metrics=['accuracy'])

In [39]:
model.fit(X_train,y_train,epochs=10 , batch_size=32, verbose=1)

Epoch 1/10
250/250 [==============================] - 13s 16ms/step - loss: 16604.7852 - accuracy: 0.6746
Epoch 2/10
250/250 [==============================] - 7s 27ms/step - loss: 12178.2100 - accuracy: 0.6740
Epoch 3/10
250/250 [==============================] - 5s 20ms/step - loss: 10657.8418 - accuracy: 0.6815
Epoch 4/10
250/250 [==============================] - 5s 19ms/step - loss: 9937.0596 - accuracy: 0.6720
Epoch 5/10
250/250 [==============================] - 4s 17ms/step - loss: 8750.3047 - accuracy: 0.6796
Epoch 6/10
250/250 [==============================] - 5s 20ms/step - loss: 9989.9736 - accuracy: 0.6644
Epoch 7/10
250/250 [==============================] - 6s 25ms/step - loss: 7807.5620 - accuracy: 0.6814
Epoch 8/10
250/250 [==============================] - 5s 20ms/step - loss: 8053.2769 - accuracy: 0.6771
Epoch 9/10
250/250 [==============================] - 6s 23ms/step - loss: 8011.0825 - accuracy: 0.6746
Epoch 10/10
250/250 [==============================] - 4s 17ms/step - loss: 7735.7573 - accuracy: 0.6762

In [40]:
loss,accuracy=model.evaluate(X_test,y_test)
print(f"Test Loss:{loss:4f}")
print(f"Test Accuracy:{accuracy:4f}")

63/63 [==============================] - 2s 15ms/step - loss: 6290.9990 - accuracy: 0.8035
Test Loss:6290.999023
Test Accuracy:0.803500