In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
data=pd.read_csv('C:\\Users\\User\\Desktop\\ML\\covid_toy.csv')

In [3]:
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
data=data.dropna()

In [5]:
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
le=LabelEncoder()
data['gender']=le.fit_transform(data['gender'])
data['cough']=le.fit_transform(data['cough'])
data['city']=le.fit_transform(data['city'])
data['has_covid']=le.fit_transform(data['has_covid'])

In [7]:
data.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [8]:
x=data.drop(columns=['has_covid'])
y=data['has_covid']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [12]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(64,activation='relu',input_dim=x_train.shape[1]),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [14]:
loss_fn=tf.keras.losses.BinaryCrossentropy()
metrics=['accuracy']

In [15]:
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum)

In [16]:
model.compile(optimizer=optimizer,loss=loss_fn,metrics=metrics)

In [17]:
epochs=10
batch_size=32
model.fit(x_train,y_train,batch_size=batch_size,epochs=epochs,validation_split=0.2)

Epoch 1/10
2/2 [==============================] - 8s 2s/step - loss: 0.7663 - accuracy: 0.3860 - val_loss: 0.7609 - val_accuracy: 0.4000
Epoch 2/10
2/2 [==============================] - 0s 315ms/step - loss: 0.7652 - accuracy: 0.3860 - val_loss: 0.7593 - val_accuracy: 0.4000
Epoch 3/10
2/2 [==============================] - 0s 366ms/step - loss: 0.7634 - accuracy: 0.3860 - val_loss: 0.7569 - val_accuracy: 0.4000
Epoch 4/10
2/2 [==============================] - 0s 372ms/step - loss: 0.7605 - accuracy: 0.3860 - val_loss: 0.7541 - val_accuracy: 0.4000
Epoch 5/10
2/2 [==============================] - 0s 386ms/step - loss: 0.7577 - accuracy: 0.3860 - val_loss: 0.7509 - val_accuracy: 0.4000
Epoch 6/10
2/2 [==============================] - 0s 318ms/step - loss: 0.7543 - accuracy: 0.3860 - val_loss: 0.7475 - val_accuracy: 0.3333
Epoch 7/10
2/2 [==============================] - 0s 404ms/step - loss: 0.7502 - accuracy: 0.3860 - val_loss: 0.7441 - val_accuracy: 0.3333
Epoch 8/10
2/2 [==============================] - 0s 364ms/step - loss: 0.7462 - accuracy: 0.4035 - val_loss: 0.7406 - val_accuracy: 0.3333
Epoch 9/10
2/2 [==============================] - 1s 411ms/step - loss: 0.7422 - accuracy: 0.4386 - val_loss: 0.7370 - val_accuracy: 0.3333
Epoch 10/10
2/2 [==============================] - 0s 322ms/step - loss: 0.7381 - accuracy: 0.4561 - val_loss: 0.7334 - val_accuracy: 0.3333

In [18]:
test_loss,test_acc=model.evaluate(x_test,y_test)
print("Test_loss",test_loss)
print("Test_acc",test_acc)

1/1 [==============================] - 0s 216ms/step - loss: 0.7136 - accuracy: 0.5556
Test_loss 0.7136304974555969
Test_acc 0.5555555820465088