In [1]:
import numpy as np
import pandas as pd

In [2]:
df4=pd.read_csv("C:\\Users\\User\\Desktop\\ML\\placement.csv")

In [3]:
df4

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [14]:
from sklearn.model_selection import train_test_split,cross_val_score

In [15]:
x=df4.drop(columns =['placed'],axis=1)
y=df4['placed']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression

In [18]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression()
logistic.fit(x_train, y_train)

LogisticRegression()

In [19]:
x_pred=logistic.predict(x_test)
accuracy_score(y_test,x_pred)

1.0

In [20]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
accuracy = accuracy_score(y_test, x_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
clf = DecisionTreeRegressor()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
mse = mean_squared_error(y_test, x_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.0

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


rf_classifier=RandomForestClassifier(n_estimators=100,random_state=42)
estimator_values =[10, 20,30,40,50]
for n_estimators in estimator_values:
    rf_classifier=RandomForestClassifier(n_estimators=n_estimators,random_state=42)
    scores=cross_val_score(rf_classifier, x_train,y_train, cv=5)
    mean_accuracy =np.mean(scores)
    print(f"No. of estimators: {n_estimators}, Mean accuracy:  {mean_accuracy}")

No. of estimators: 10, Mean accuracy:  0.9375
No. of estimators: 20, Mean accuracy:  0.95
No. of estimators: 30, Mean accuracy:  0.95
No. of estimators: 40, Mean accuracy:  0.95
No. of estimators: 50, Mean accuracy:  0.95

In [23]:
rf_classifier=RandomForestClassifier(n_estimators=10,random_state=42)
rf_classifier.fit(x_train,y_train)
y_pred =rf_classifier.predict(x_test)
accuracy =accuracy_score(y_test,y_pred)
print("Accuracy:",accuracy)

Accuracy: 1.0

In [24]:
b=pd.read_csv("C:\\Users\\User\\Desktop\\ML\\Attrition.csv")

In [25]:
b

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [26]:
from sklearn.model_selection import train_test_split,cross_val_score

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
lb=LabelEncoder()

In [29]:
b['Attrition'] = lb.fit_transform(b['Attrition'])
b['BusinessTravel'] = lb.fit_transform(b['BusinessTravel'])
b['Department'] = lb.fit_transform(b['Department'])
b['EducationField'] = lb.fit_transform(b['EducationField'])
b['Gender'] = lb.fit_transform(b['Gender'])
b['JobRole'] = lb.fit_transform(b['JobRole'])
b['MaritalStatus'] = lb.fit_transform(b['MaritalStatus'])
b['OverTime'] = lb.fit_transform(b['OverTime'])
b['Over18'] = lb.fit_transform(b['Over18'])

In [30]:
x=b.drop(columns =['Attrition'],axis=1)
y=b['Attrition']

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


rf_classifier=RandomForestClassifier(n_estimators=100,random_state=42)
estimator_values =[10, 50,100,200,500]
for n_estimators in estimator_values:
    rf_classifier=RandomForestClassifier(n_estimators=n_estimators,random_state=42)
    scores=cross_val_score(rf_classifier, x_train,y_train, cv=5)
    mean_accuracy =np.mean(scores)
    print(f"No. of estimators: {n_estimators}, Mean accuracy:  {mean_accuracy}")

No. of estimators: 10, Mean accuracy:  0.838434908041832
No. of estimators: 50, Mean accuracy:  0.8588460151460513
No. of estimators: 100, Mean accuracy:  0.8588424089433827
No. of estimators: 200, Mean accuracy:  0.8545943021997836
No. of estimators: 500, Mean accuracy:  0.852041110710422

In [34]:
rf_classifier=RandomForestClassifier(n_estimators=50,random_state=42)
rf_classifier.fit(x_train,y_train)
y_pred =rf_classifier.predict(x_test)
accuracy =accuracy_score(y_test,y_pred)
print("Accuracy:",accuracy)

Accuracy: 0.8605442176870748