# Activation Function

In [36]:
#Sigmoid Function

==>The sigmoid function also k/a logistic func. ,is a mathematical function that maps any real -valued number to value between 0 and 1 .It is commonly used in Machine Learning and Neutral Networks as an activation function to introduce non-linearity into model

sigmoid(x)=1/(1+exp(-x))


The sigmoid function has an S-shaped curve and its outout values range  from 0 to 1.WHEN INPUT X IS A LARGE POSITIVE  number ,the sigmoid func approaches 1 , and when the input is a large negative number

In [37]:
import numpy as np

def sigmoid(x):
    return 1/(1+np.exp(-x))

#example 
x=2.5
result=sigmoid(x)
print("sigmoid(x)",result)

sigmoid(x) 0.9241418199787566

In [38]:
#tanh

The hyperbolic tanget activation func, commonly k/a the tanh func ,is widely used activation func in deep learning. It is a non linear function that maps the input to value between -1 and 1

tanh(x)=(e^x-e^(_x)/(e^x+e^(-x))
complete explanation of the hyperbolic tangent activation function  in deep laerning

In [39]:
import numpy as np 
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

In [40]:
X,y=make_classification(n_samples=100,n_features=10,n_informative=5, random_state=42)

In [41]:
X_train,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [42]:
model=Sequential()
model.add(Dense(64, activation='tanh',input_shape=(X_train.shape[1],)))
model.add(Dense(64, activation='tanh'))
model.add(Dense(1, activation='sigmoid'))

In [43]:
model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [44]:
model.fit(X_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
3/3 [==============================] - 5s 35ms/step - loss: 0.6876 - accuracy: 0.5625
Epoch 2/10
3/3 [==============================] - 0s 40ms/step - loss: 0.6027 - accuracy: 0.7000
Epoch 3/10
3/3 [==============================] - 0s 99ms/step - loss: 0.5382 - accuracy: 0.7625
Epoch 4/10
3/3 [==============================] - 0s 60ms/step - loss: 0.4847 - accuracy: 0.8000
Epoch 5/10
3/3 [==============================] - 0s 51ms/step - loss: 0.4434 - accuracy: 0.8250
Epoch 6/10
3/3 [==============================] - 0s 29ms/step - loss: 0.4083 - accuracy: 0.8500
Epoch 7/10
3/3 [==============================] - 0s 49ms/step - loss: 0.3823 - accuracy: 0.8750
Epoch 8/10
3/3 [==============================] - 0s 50ms/step - loss: 0.3612 - accuracy: 0.8750
Epoch 9/10
3/3 [==============================] - 0s 74ms/step - loss: 0.3428 - accuracy: 0.8750
Epoch 10/10
3/3 [==============================] - 0s 69ms/step - loss: 0.3292 - accuracy: 0.8750

In [45]:
loss,accuracy=model.evaluate(X_test,y_test)
print("test loss",loss)
print("test accuracy",accuracy)

1/1 [==============================] - 1s 781ms/step - loss: 0.4971 - accuracy: 0.8000
test loss 0.49712076783180237
test accuracy 0.800000011920929

#ReLU

The Rectified Linear Unit  function is popular choice in Deep Learning .
Relu defines as followed:
    ReLU(x)=map(0,x)
In other words relu as x

In [46]:
import numpy as np 
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

In [47]:
X,y=make_classification(n_samples=100,n_features=10,n_informative=5, random_state=42)

In [48]:
X_train,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [49]:
model=Sequential()
model.add(Dense(64, activation='relu',input_shape=(X_train.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [50]:
model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [51]:
model.fit(X_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
3/3 [==============================] - 13s 26ms/step - loss: 0.7926 - accuracy: 0.5000
Epoch 2/10
3/3 [==============================] - 0s 60ms/step - loss: 0.6710 - accuracy: 0.5500
Epoch 3/10
3/3 [==============================] - 0s 74ms/step - loss: 0.5913 - accuracy: 0.6875
Epoch 4/10
3/3 [==============================] - 0s 44ms/step - loss: 0.5254 - accuracy: 0.8250
Epoch 5/10
3/3 [==============================] - 0s 51ms/step - loss: 0.4858 - accuracy: 0.8125
Epoch 6/10
3/3 [==============================] - 0s 77ms/step - loss: 0.4550 - accuracy: 0.8375
Epoch 7/10
3/3 [==============================] - 0s 55ms/step - loss: 0.4256 - accuracy: 0.8625
Epoch 8/10
3/3 [==============================] - 0s 69ms/step - loss: 0.3988 - accuracy: 0.8875
Epoch 9/10
3/3 [==============================] - 0s 27ms/step - loss: 0.3741 - accuracy: 0.9000
Epoch 10/10
3/3 [==============================] - 0s 64ms/step - loss: 0.3492 - accuracy: 0.9000

In [52]:
loss,accuracy=model.evaluate(X_test,y_test)
print("test loss",loss)
print("test accuracy",accuracy)

1/1 [==============================] - 1s 789ms/step - loss: 0.4692 - accuracy: 0.7500
test loss 0.4691750109195709
test accuracy 0.75

In [53]:
import  pandas as pd

In [54]:
df=pd.read_csv("C:\\Users\\User\\Desktop\\ML\\attrition.csv")

In [55]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [56]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [57]:
lb=LabelEncoder()
df['Attrition']=lb.fit_transform(df["Attrition"])
df['BusinessTravel']=lb.fit_transform(df["BusinessTravel"])
df['Department']=lb.fit_transform(df["Department"])
df['EducationField']=lb.fit_transform(df["EducationField"])

In [58]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [59]:
sc=StandardScaler()

In [60]:
X=df.drop(['Attrition'],axis=1)
y=df["Attrition"]

In [61]:
X_train,X_test ,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [62]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

ValueError: could not convert string to float: 'Male'