In [6]:
fruits=["apple","banana","cherry","kiwi"]
for i in range(4):
    print(fruits[i])
fruits[0]

apple
banana
cherry
kiwi

'apple'

In [7]:
count=0
while count<=5:
    print(count)
    count=count+1

0
1
2
3
4
5

In [8]:
num_list=[]
n=5
for i in range (n):
    num=int(input("enter values"))
    num_list.append(num)
print('output:',num_list)

enter values15
enter values45
enter values36
enter values77
enter values55
output: [15, 45, 36, 77, 55]

In [13]:
num_list=[int(input("enter value"))for _ in range(5)]                                                
print(num_list)

enter value15
enter value15
enter value17
enter value18325
enter value152
[15, 15, 17, 18325, 152]

In [16]:
input_string=input("enter the string")
input_list=input_string.split()
numbers=list(map(int,input_list))
numbers

enter the string12 15 19 63

[12, 15, 19, 63]

In [19]:
list=['orange','wow','mom','watch']
same=[]
for i in list:
    if(i[0]==i[-1]):
        same.append(i)
print(same)

['wow', 'mom']

In [21]:
numbers=list(map(int,input("enter number").split()))
new=[]
for i in numbers(2):
    print(i)

enter number123 231

TypeError: 'list' object is not callable

In [4]:
numbers=input("enter number").split()
new=[]
for i in numbers:
    a=i[::-1]
    if(a==i):
        new.append(i)
new

enter number1221 154 121

['1221', '121']

In [30]:
a=input("enter string").split()
b=[c for c in a if c==c[::-1] ]
b

enter string123 12321

['12321']

In [3]:
a=list(map(int,input("enter number").split()))
b=[]
for i in  a:
    b.append(i*i)
b

enter number12 4 5 6

[144, 16, 25, 36]

In [5]:
numbers=input("enter number").split()
new=[]
for i in numbers:
    a=i[::-1]
    if(a==i):
        new.append(i)
new

enter numberbhumi radar level

['radar', 'level']

In [7]:
n=[2,3,4,5,6,8]
prime_no=[num for num in n if n>1 and all(num%i!=0 for i in range)]

TypeError: 'int' object is not subscriptable