In [31]:
#q1
string=input("enter a string : ")
vowel='aeiou'
empty=''
for i in string:
    if(i in vowel):
        empty+='xz'
    else:
        empty+=i
print("new word",empty)

enter a string : hello
new word hxzllxz

In [30]:
#q4
start_value=90
for i in range(4):
    for j in range(i):
        print(" ",end="")
    for k in range(4-i):
        print(chr(start_value),end="")
        start_value -=1
    print( )

ZYXW
 VUT
  SR
   Q

In [5]:
string=input("enter a string : ")
vowel='aeiou'
empty=''
for i in string:
    if(i[0] is vowel):
        empty[0]+="o"
    else:
        empty+=i
print("new word",empty)

enter a string : hello
new word hello

In [11]:
def hello():
    print("hello world")

In [12]:
hello()

hello world

In [8]:
def hello(username,x):
    print("username",username,x)

In [14]:
hello(10)

TypeError: hello() takes 0 positional arguments but 1 was given

In [15]:
def listupdate(x):
    x[0]=99

In [16]:
list1=[10,20,30]
listupdate(list1)
print(list1)

[99, 20, 30]

In [17]:
def listupdate(a,b):
    print(a,b)

In [18]:
listupdate(10,20)

10 20

In [26]:
def employe(*a):
    print(a,type(a),a[-1])

In [22]:
employe()

()

In [27]:
employe(10,20,30,"hello")

(10, 20, 30, 'hello') <class 'tuple'> hello

In [28]:
def employe(**x):
    print(a,type(a),a)

In [29]:
def lcm(num1,num2):
    if num1>num2:
        greater=a
            
    else:
        greater=b
    print(greater)
    
    while(True):
        if(greater%num1==0 and greater%num2==0):
            print("lcm is greater")

In [30]:
out=lambda x:x**2
out(10)

100

In [31]:
(lambda x:x**2)(10)

100

In [32]:
def addnumber(x):
    return x+5

In [34]:
my=[10,20,30]
list(map(addnumber,my))

[15, 25, 35]

In [36]:
list(map(lambda x: x+5,my))

[15, 25, 35]