In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [2]:
df = pd.read_csv("C:\\Users\\91895\\Downloads\\Click.csv")
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1

In [7]:
# Assuming 'data' is a Pandas DataFrame containing your dataset

# Encode categorical features using LabelEncoder
le = LabelEncoder()
df['Timestamp'] = le.fit_transform(df['Timestamp'])
df['Ad Topic Line'] = le.fit_transform(df['Ad Topic Line'])
df['City'] = le.fit_transform(df['City'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Country'] = le.fit_transform(df['Country'])
# Separate features (x) and target (y)
x = df.iloc[:, 0:-1].values
y = df.iloc[:, -1].values

# Split the data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# Define the neural network architecture
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_dim=x_train.shape[1]),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

#define the loss function and metrics

loss_fn = tf.keras.losses.BinaryCrossentropy()
metrics = ['accuracy']

#define the optimizer with momentum
learning_rate = 0.01
momentum = 0.9
optimizer = tf.keras.optimizers.SGD(learning_rate=learning_rate , momentum=momentum)

#compile the model 
model.compile(optimizer=optimizer, loss=loss_fn , metrics=metrics)

#train the model
epochs = 10
batch_size = 32
model.fit(x_train , y_train , batch_size=batch_size ,epochs=epochs , validation_split=0.2)

#evaluate the model
test_loss , test_acc = model.evaluate(x_test , y_test)
print("test loss", test_loss)
print("test accuracy" , test_acc)

Epoch 1/10
200/200 [==============================] - 1s 4ms/step - loss: 0.5763 - accuracy: 0.7033 - val_loss: 0.5499 - val_accuracy: 0.7381
Epoch 2/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5406 - accuracy: 0.7405 - val_loss: 0.5488 - val_accuracy: 0.7300
Epoch 3/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5339 - accuracy: 0.7414 - val_loss: 0.5470 - val_accuracy: 0.7387
Epoch 4/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5291 - accuracy: 0.7470 - val_loss: 0.5423 - val_accuracy: 0.7400
Epoch 5/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5264 - accuracy: 0.7467 - val_loss: 0.5417 - val_accuracy: 0.7394
Epoch 6/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5234 - accuracy: 0.7462 - val_loss: 0.5400 - val_accuracy: 0.7419
Epoch 7/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5213 - accuracy: 0.7475 - val_loss: 0.5419 - val_accuracy: 0.7412
Epoch 8/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5178 - accuracy: 0.7508 - val_loss: 0.5409 - val_accuracy: 0.7444
Epoch 9/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5147 - accuracy: 0.7525 - val_loss: 0.5397 - val_accuracy: 0.7425
Epoch 10/10
200/200 [==============================] - 0s 2ms/step - loss: 0.5120 - accuracy: 0.7559 - val_loss: 0.5402 - val_accuracy: 0.7462
63/63 [==============================] - 0s 2ms/step - loss: 0.5350 - accuracy: 0.7400
test loss 0.5350466370582581
test accuracy 0.7400000095367432

In [9]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,96,234,1,174,447,0
1,41.73,31.0,61840.26,207.17,301,460,1,166,54,0
2,44.40,30.0,57877.15,172.83,484,379,0,71,503,0
3,59.88,28.0,56180.93,207.17,24,269,0,205,483,0
4,49.21,30.0,54324.73,201.58,484,495,0,149,559,1