In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df = df.drop(columns = ['age' , 'fever'])

In [6]:
df.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'], ['Mild' , 'Strong'],['Kolkata','Bangalore','Delhi','Mumbai'],['No','Yes']])

In [18]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [19]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [20]:
oe.fit(df)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['No', 'Yes']])

In [21]:
oe.transform(df)

array([[0., 0., 0., 0.],
       [0., 0., 2., 1.],
       [0., 0., 2., 0.],
       [1., 0., 0., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 1., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 2., 0.],
       [1., 0., 2., 0.],
       [1., 0., 3., 1.],
       [1., 1., 0., 0.],
       [0., 0., 1., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [1., 0., 1., 1.],
       [1., 1., 1., 1.],
       [0., 1., 1., 0.],
       [0., 0., 1., 1.],
       [1., 1., 0., 1.],
       [1., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 3., 0.],
       [1., 0., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 0.],
       [1., 1., 3., 1.],
       [0., 0., 2., 1.],
       [0., 0., 0., 0.],
       [1., 1., 2., 1.],
       [1., 0., 0., 0.],
       [0., 0., 3., 1.],
       [1., 1., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 2., 1.],
       [1., 0., 0., 0.],
       [1., 0., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 2., 1.],
       [1., 0., 1., 1.],
       [0., 1., 2., 0.],
       [0., 0., 1., 0.],
       [1., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 0., 3., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 1.],
       [1., 1., 1., 1.],
       [0., 0., 2., 1.],
       [1., 0., 3., 1.],
       [1., 0., 3., 1.],
       [0., 1., 0., 0.],
       [1., 1., 1., 0.],
       [0., 1., 3., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.],
       [1., 1., 3., 0.],
       [1., 1., 1., 1.],
       [0., 0., 1., 0.],
       [0., 0., 3., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 2., 0.],
       [1., 1., 2., 0.],
       [1., 1., 2., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 1.],
       [1., 1., 2., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 3., 1.],
       [0., 0., 2., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 1., 3., 0.],
       [1., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 1., 0.],
       [1., 1., 2., 0.],
       [0., 0., 2., 1.],
       [1., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 1., 3., 0.],
       [1., 1., 0., 1.]])