In [ ]:
#diff btw series and dataframe
#==>a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.frame

In [1]:
#series
import pandas as pd
data = [1000, 200, 3000, 4000, 5]
s = pd.Series(data)
print(s)

0    1000
1     200
2    3000
3    4000
4       5
dtype: int64

In [3]:
data = [1000, 200, 3000, 4000, 5]
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      0
0  1000
1   200
2  3000
3  4000
4     5

In [4]:
#WHAT do u mean by inplace=true and inplace=false
#=>When inplace = True is used, it performs operation on data and nothing is returned
#df.dropna(axis='index', how='all', inplace=True)
#In Pandas the above code means:
#Pandas create a copy of the original data.
#Performs the required operation on it.
#Assigns the results to the original data. (Important point to consider here).
#Then deletes the copy.
#=>When inplace=False is used, it performs operation on data and returns a new copy of data.

In [5]:

import pandas as pd
dataframe=pd.DataFrame({'Name':['Shobhit','Vaibhav','Vimal','Sourabh'],'Class':[11,12,10,9],'Age':[18,20,21,17]})
dataframe

# without using inplace 
new_data = dataframe.rename(columns = {'Name':'FirstName'})
new_data

# checking whether dataframe is modified or not
dataframe

# putting inplace=False
new_data_2 = dataframe.rename(columns = {'Name':'FirstName'},
inplace = False)

# Copied dataframe
new_data_2

dataframe


dataframe.rename(columns = {'Name':'FirstName'},inplace = True)

dataframe

  FirstName  Class  Age
0   Shobhit     11   18
1   Vaibhav     12   20
2     Vimal     10   21
3   Sourabh      9   17

In [ ]:
#what is diff btw dropna and fillna
# fillna replaces the missing values (NaN or None) with specified values, while dropna eliminates the rows or columns containing missing values.